<h3 class="ac-title pf-heading">{{localize "PF2E.ArmorClassLabel"}}</h3>
<ol class="hp-list">
  <li class="li-two-grid">
    <div class="hp-temp pf-container">
      <h4 class="hp-temp pf-title">{{localize "PF2E.ArmorClassShortLabel"}}</h4>
      <span class="hp-temp pf-value pf-large" title="{{localize "PF2E.ArmorClassValueTitle"}}">
        <input name="data.attributes.ac.value" type="text" value="{{data.attributes.ac.value}}"
                                                           data-dtype="Number" placeholder="10"/>
      </span>
    </div>
    <div class="hp-current pf-container">
      <h4 class="hp-current pf-title" style="font-size: 12px">{{localize "PF2E.ShieldLabel"}}</h4>
      <span class="hp-current pf-value pf-large" title="{{localize "PF2E.ShieldACBonusTitle"}}">
        <input name="data.attributes.shield.ac" type="text" value="{{data.attributes.shield.ac}}"
                                                            data-dtype="Number" placeholder="0"/>
      </span>
    </div>
  </li>
</ol>
<ol class="hp-list-small">
  <li class="li-four-grid">
    <div class="defense-container pf-justify-center">
      <h4 class="defense-item pf-title" title="{{localize "PF2E.ShieldCurrentTitle"}}">{{localize "PF2E.ShieldCurrentLabel"}}</h4>
      <span class="defense-item-value pf-value pf-small" title="{{localize "PF2E.ShieldCurrentTitle"}}">
        <input name="data.attributes.shield.value" type="text" value="{{data.attributes.shield.value}}"
                                                               data-dtype="Number" placeholder="0"/>
      </span>
    </div>
    <div class="defense-container pf-justify-center">
      <h4 class="defense-item pf-title" title="{{localize "PF2E.ShieldMaxTitle"}}">{{localize "PF2E.ShieldMaxLabel"}}</h4>
      <span class="defense-item-value pf-value pf-small" title="{{localize "PF2E.ShieldMaxTitle"}}">
        <input name="data.attributes.shield.max" type="text" value="{{data.attributes.shield.max}}"
                                                             data-dtype="String" placeholder="0"/>
      </span>
    </div>
    <div class="defense-container pf-justify-center">
      <h4 class="defense-item pf-title" title="{{localize "PF2E.ShieldBTTitle"}}">{{localize "PF2E.ShieldBTLabel"}}</h4>
      <span class="defense-item-value pf-value pf-small" title="{{localize "PF2E.ShieldBTTitle"}}">
        <input name="data.attributes.shield.brokenThreshold" type="text" value="{{data.attributes.shield.brokenThreshold}}"
                                                                         data-dtype="String" placeholder="0"/>
      </span>
    </div>
    <div class="defense-container pf-justify-center">
      <h4 class="defense-item pf-title" title="{{localize "PF2E.ShieldHardnessTitle"}}">{{localize "PF2E.ShieldHardnessLabel"}}</h4>
      <span class="defense-item-value pf-value pf-small" title="{{localize "PF2E.ShieldHardnessTitle"}}">
        <input name="data.attributes.shield.hardness" type="text" value="{{data.attributes.shield.hardness}}"
                                                                  data-dtype="Number" placeholder="0"/>
      </span>
    </div>
  </li>
</ol>

