<h4 class="sidebar-summary">{{localize "PF2E.ToolHeading"}}</h4>

<div class="inventory-details">
    <div class="form-group">
        <label>{{localize "PF2E.QuantityLabel"}}</label>
        <input type="text" name="data.quantity.value" value="{{data.quantity.value}}" data-dtype="{{data.quantity.type}}"/>
    </div>

    <div class="form-group">
        <label>{{localize "PF2E.BulkLabel"}}</label>
        <select name="data.weight.value" data-dtype="String">
            {{#select data.weight.value}}
            <option value="-">{{localize "PF2E.NegligibleOption"}}</option>
            {{#each bulkTypes as |name type|}}
            <option value="{{type}}">{{name}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>

    <div class="form-group">
        <label>{{localize "PF2E.PriceLabel"}}</label>
        <input type="text" name="data.price.value" value="{{data.price.value}}" data-dtype="{{data.price.type}}"/>
    </div>
</div>

<ol class="item-tags">
    <li class="tag">{{lookup proficiencies data.proficient.value}}</li>
</ol>

<div class="tool-details">
    <div class="form-group-stacked">
        <label>{{data.ability.label}}</label>
        <select name="data.ability.value" data-dtype="{{data.ability.type}}">
            {{#select data.ability.value}}
            {{#each abilities as |ability a|}}
            <option value="{{a}}">{{ability.label}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>

     <div class="form-group-stacked">
        <label>{{data.proficient.label}}</label>
         <select name="data.proficient.value" data-dtype="Number">
             {{#select data.proficient.value}}
             {{#each proficiencies as |label p|}}
             <option value="{{p}}">{{label}}</option>
             {{/each}}
             {{/select}}
         </select>
    </div>
</div>
